/* custom class */
/*custom sliding pane style*/
.zIndex {
    z-index: 999;
  }
  
  .zIndex .slide-pane__header {
    background: transparent;
    border-bottom: none;
  }
/*login svg */
.st0{fill:#ECD714;}
.st1{fill:#E9B115;}
.st2{fill:#FE0808;}
.st3{fill:#E60000;}
.st4{fill:#FE1200;}
.st5{fill:#4E4707;}
.st6{fill:#180403;}
.st7{fill:#6C6209;}
.st8{fill:#010100;}
.st9{fill:#0B0A01;}
.st10{fill:#F8F8F8;}
.st11{fill:#F7F7F7;}
.st12{fill:#94190A;}
.st13{fill:#7C150D;}
.st14{fill:#791913;}
.st15{fill:#39CBD9;}

.wrapper {
    width: 30%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
  }

  .wrapper .tail {
    position: absolute;
    width: 35%;
    z-index: -10;
    bottom: 18%;
    right: 3%;
    transform-origin: 0% 100%;
    -webkit-transform-origin: 0% 100%;
    animation: tail 2s linear infinite;
    -webkit-animation: tail 2s linear infinite;
  }


@keyframes tail {
  0% {transform: rotate(0deg);}
  50% {transform: rotate(10deg);}
}
@-webkit-keyframes tail {
  0% {transform: rotate(0deg);}
  50% {transform: rotate(10deg);}
}

